@model AActivity.Areas.Sociologist.ModelViews.PrintTripFoodView






    <tbody >
        <tr class="border-top">
            <th colspan="4">
                <p class="lead p-3">
                    <span class="ml-5">مع التحية لسعادة مدير إدارة التغذية          </span>
                    <br />
                    <span class="ml-5">            آمل من سعادتكم التكرم بالموافقة على إكمال اللازم وفق اللوائح والأنظمة.      </span>
                </p>
                <div class=" float-left text-center" style="width:30%">

                    <p class="  lead ">
                        <span class=" ">     المشرف على إدارة المدينة الجامعية</span>
                    </p>

                    <p class="  lead ">
                        <span class=" mr-5">
                            م. محمد بن محضار سندي
                        </span>
                    </p>
                </div>

            </th>
        </tr>
</tbody>