@model AActivity.Areas.Sociologist.ModelViews.PrintTripFoodView

<hr class="tbPrint" />
<h5 class="text-center tbPrint m-5">الطلاب المشاركين في الرحلة</h5>
<table class="table table-bordered tbPrint ar">
    <thead>
        <tr>
            <th>#</th>
            <th>رقم الطالب</th>
            <th>اسم الطالب</th>         
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach (var student in Model.Students)
        {
        <tr>
            <td>@i</td>
            <td>@student.StudentNumber</td>
            <td>
                @student.StudentName
     
            </td>
        </tr>
            i++;
        }
      
       
    </tbody>
    <tfoot>
        <tr >
            <td colspan="3">
                <span >

                    <img style="margin-top: -250px; margin-right:250px" width="150" src="~/img/stamps/@Model.StampEducationBody" />
                </span>
            </td>
        </tr>
    </tfoot>
</table>