@model IEnumerable<AActivity.Models.Letter>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                نوع الرحلة
            </th>
            <th>
                الكلية
            </th>
            <th>
                التاريخ
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripBooking.SchedulingTripDetail.TripType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripBooking.SchedulingTripDetail.EducationalBody.Name)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripBooking.SchedulingTripDetail.TripDate)

            </td>

            <td>
               
                <a asp-action="Details"  asp-route-letterId="@item.Id">الخطاب</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
