@model AActivity.Areas.Sociologist.ModelViews.TripFoodCreateView

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TripFood</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="TripBookingId" hidden class="form-control" value="@ViewBag.bokingId" />
            </div>
            <div class="form-group">
                <label asp-for="QtyMeals" class="control-label"></label>
                <input asp-for="QtyMeals" class="form-control" />
                <span asp-validation-for="QtyMeals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstMeal" class="control-label"></label>
                <input asp-for="FirstMeal" class="form-control" />
                <span asp-validation-for="FirstMeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastMeal" class="control-label"></label>
                <input asp-for="LastMeal" class="form-control" />
                <span asp-validation-for="LastMeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstMealText" class="control-label"></label>
                <select asp-for="FirstMealText">
                    <option value="">الرجاء الإختيار</option>
                    <option value="فطور">فطور</option>
                    <option value="غداء">غداء</option>
                    <option value="عشاء">عشاء</option>
                </select>
                <span asp-validation-for="FirstMealText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastMealText" class="control-label"></label>
                <select asp-for="LastMealText">
                    <option value="">الرجاء الإختيار</option>
                    <option value="فطور">فطور</option>
                    <option value="غداء">غداء</option>
                    <option value="عشاء">عشاء</option>                   
                </select>
                <span asp-validation-for="LastMealText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

