@model AActivity.Areas.Admin.ModelViews.AppSettingEditModelView


@{
    ViewData["Title"] = "تعديل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-5 mb-3">
    <h5 class="card-header bg-primary-bold ">
        <i class="fas fa-cogs"></i>
        ضبط الإعدادات
    </h5>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-3 mb-4">
                    <label asp-for="BookingTime" class="control-label"></label>
                    <input asp-for="BookingTime" type="text" class="form-control form-control-lg" />
                    <span asp-validation-for="BookingTime" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-3 mb-4">
                    <label asp-for="QtyDeanshipDelegates" class="control-label"></label>
                    <input asp-for="QtyDeanshipDelegates" type="text" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyDeanshipDelegates" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-3 mb-4">
                    <label asp-for="QtyInstitutesDelegates" class="control-label"></label>
                    <input asp-for="QtyInstitutesDelegates" type="text" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyInstitutesDelegates" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="QtyCollegesDelegates" class="control-label"></label>
                    <input asp-for="QtyCollegesDelegates" type="text" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyCollegesDelegates" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-4 mb-4">
                    <label asp-for="QtyPassengersInOneBus" class="control-label"></label>
                    <input asp-for="QtyPassengersInOneBus" type="text" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyPassengersInOneBus" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-4 mb-4">
                    <label asp-for="QtyDaysVisitEternal" class="control-label"></label>
                    <input type="text" asp-for="QtyDaysVisitEternal" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyDaysVisitEternal" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-4 mb-4">
                    <label asp-for="QtyDaysVisitInternal" class="control-label"></label>
                    <input type="text" asp-for="QtyDaysVisitInternal" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyDaysVisitInternal" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-4 mb-4">
                    <label asp-for="QtyOmrahMakkahDaysTrip" class="control-label"></label>
                    <input type="text" asp-for="QtyOmrahMakkahDaysTrip" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyOmrahMakkahDaysTrip" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-4 mb-4">
                    <label asp-for="QtyOmrahMedinaDaysTrip" class="control-label"></label>
                    <input type="text" asp-for="QtyOmrahMedinaDaysTrip" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyOmrahMedinaDaysTrip" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-4 mb-4">
                    <label asp-for="QtyInternalDaysTrip" class="control-label"></label>
                    <input asp-for="QtyInternalDaysTrip" type="text" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyInternalDaysTrip" class="text-danger"></span>
                </div>

                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="QtyExternalDaysTrip" class="control-label"></label>
                    <input asp-for="QtyExternalDaysTrip" type="text" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyExternalDaysTrip" class="text-danger"></span>
                </div>

                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="AmountExternalCreditToTrip" class="control-label"></label>
                    <input asp-for="AmountExternalCreditToTrip" class="form-control form-control-lg" />
                    <span asp-validation-for="AmountExternalCreditToTrip" class="text-danger"></span>
                </div>

                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="AmountInternalCreditToTrip" class="control-label"></label>
                    <input asp-for="AmountInternalCreditToTrip" class="form-control form-control-lg" />
                    <span asp-validation-for="AmountInternalCreditToTrip" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="AmountOmrahCreditToTrip" class="control-label"></label>
                    <input asp-for="AmountOmrahCreditToTrip" class="form-control form-control-lg" />
                    <span asp-validation-for="AmountOmrahCreditToTrip" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="AmountVisitCreditToTrip" class="control-label"></label>
                    <input asp-for="AmountVisitCreditToTrip" class="form-control form-control-lg" />
                    <span asp-validation-for="AmountVisitCreditToTrip" class="text-danger"></span>
                </div>


                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="QtyVisitIntirnalBuses" class="control-label"></label>
                    <input type="text" asp-for="QtyVisitIntirnalBuses" onchange="FillImage(event);" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyVisitIntirnalBuses" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="QtyVisitExtirnalBuses" class="control-label"></label>
                    <input type="text" asp-for="QtyVisitExtirnalBuses" onchange="FillImage(event);" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyVisitExtirnalBuses" class="text-danger"></span>
                </div>
                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="QtyUmrahBuses" class="control-label"></label>
                    <input type="text" asp-for="QtyUmrahBuses" onchange="FillImage(event);" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyUmrahBuses" class="text-danger"></span>
                </div>

                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="QtyExtirnalBuses" class="control-label"></label>
                    <input type="text" asp-for="QtyExtirnalBuses" onchange="FillImage(event);" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyExtirnalBuses" class="text-danger"></span>
                </div>

                <div class="form-group   col-md-3 mb-4">
                    <label asp-for="QtyIntirnalBuses" class="control-label"></label>
                    <input type="text" asp-for="QtyIntirnalBuses" onchange="FillImage(event);" class="form-control form-control-lg" />
                    <span asp-validation-for="QtyIntirnalBuses" class="text-danger"></span>
                </div>



                <div class="form-group   col-md-12 mb-4">
                    <div class="row">
                        <div class="form-group   col-md-12 mb-4">
                            <label asp-for="StampFile" class="control-label"></label>
                            <input asp-for="StampFile" onchange="FillImage(event);" class="form-control form-control-lg" />
                            <span asp-validation-for="StampFile" class="text-danger"></span>
                        </div>
                        <div class="col-3">
                            <img id="image" asp-append-version="true" class="w-100 img-thumbnail" src="~/img/stamps/@Model.Stamp" alt="الصورة" />
                            <input hidden asp-for="Stamp" />
                        </div>
                    </div>
                </div>



                <div class="form-group col-12 mt-5">
                    <a class="btn  btn-outline-primary btn-lg" asp-action="Index"> <i class="fas fa-share-square"></i> تراجع </a>

                    <button class="btn btn-outline-gold  btn-lg" style="cursor:pointer"> <i class="fas fa-save"></i>   احفظ </button>


                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>



      var FillImage = function (event) {


          var ima = document.getElementById("image");
          ima.src = URL.createObjectURL(event.target.files[0])



      }
    </script>
}