@model AActivity.Areas.Sociologist.ModelViews.FinishWorkCreateModelView

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card mt-5 mb-3">
    <h5 class="card-header bg-primary-bold ">
        <i class="fas fa-trash"></i>
        وثيقة اداء مهمة

    </h5>
    <div class="card-body">
        <h5 class="text-danger text-center m-4">حذف الوثيقة..!!!</h5>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" readonly>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" readonly>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="JopName" class="control-label"></label>
                <input asp-for="JopName" class="form-control" readonly>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="JopDegree" class="control-label"></label>
                <input asp-for="JopDegree" class="form-control" readonly>
                <span asp-validation-for="JopDegree" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="DelegationNumber" class="control-label"></label>
                <input type="text" asp-for="DelegationNumber" class="form-control" readonly>
                <span asp-validation-for="DelegationNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="DateDelgation" class="control-label"></label>

                <input type="text" value="@Model.DateDelgation.ToString("yyyy/MM/dd")" id="DateDelgation" asp-for="DateDelgation" class="form-control" readonly>
                <span asp-validation-for="DateDelgation" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="EndWorkDuration" class="control-label"></label>
                <input type="text" asp-for="EndWorkDuration" class="form-control" readonly>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="FromDateDelgation" class="control-label"></label>
                <input type="text" asp-for="FromDateDelgation" class="form-control" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="TransportBuy" class="control-label"></label>
                <select asp-for="TransportBuy" class="form-control" readonly>
                    <option value="false"> الجهة</option>
                    <option value="true">الموظف</option>

                </select>
                <span asp-validation-for="TransportBuy" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TransportToToWorkBuy" class="control-label"></label>
                <select asp-for="TransportToToWorkBuy" class="form-control" disabled>
                    <option value="false"> الجهة</option>
                    <option value="true">الموظف</option>

                </select>
                <span asp-validation-for="TransportToToWorkBuy" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="FoodsBuy" class="control-label"></label>
                <select asp-for="FoodsBuy" class="form-control" disabled>
                    <option value="false"> الجهة</option>
                    <option value="true">الموظف</option>

                </select>
                <span asp-validation-for="FoodsBuy" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CashAdvance" class="control-label"></label>
                <select id="CashAdvance" asp-for="CashAdvance" class="form-control" disabled>
                    <option value="false">لا</option>
                    <option value="true"> نعم</option>
                </select>
                <span asp-validation-for="CashAdvance" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="CashAdvanceAmont" class="control-label"></label>
                <input id="CashAdvanceAmont" type="text" asp-for="CashAdvanceAmont" readonly class="form-control" readonly>
                <span asp-validation-for="CashAdvanceAmont" class="text-danger"></span>

            </div>

            <div class="form-group col-md-4">
                <label asp-for="DelegationBudy" class="control-label"></label>
                <input asp-for="DelegationBudy" class="form-control" readonly>

            </div>
        </div>



        <div class="form-group col-12 mt-5">

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <a class="btn  btn-outline-primary btn-lg" asp-action="IndexByBoking" asp-controller="FinishWorks" asp-route-bokingId="@Model.TripBookingId"> <i class="fas fa-share-square"></i> تراجع </a>
                <button class="btn btn-outline-danger  btn-lg" style="cursor:pointer"> <i class="fas fa-save"></i>   حذف </button>
            </form>

        </div>

    </div>
</div>


