<li>
    @model AActivity.Models.SchedulingTripDetail

    <i class="fa fa-file-pdf bg-blue"></i>
    <div class="timeline-item">

        <h3 class="timeline-header">
            <i class="fas fa-file-pdf"></i>

          مرسال /  المخاطبات
        </h3>

        <div class="timeline-body">
            <div class="row">

                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4 ">تامين وسيلة نقل </span>
                            <span class="info-box-number font-weight-bolder ">
                             1256
                            </span>
                        </div>
                    </div>
                </div>



                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4"> التغذية </span>
                            <span class="info-box-number font-weight-bolder ">
                                96526
                            </span>

                        </div>
                    </div>
                </div>





                <div class="col">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4 ">منتدبين العمادة </span>
                            <span class="info-box-number font-weight-bolder ">
                                @Model.TripBookings.FirstOrDefault().TripDelegates.Where(t => t.IsFromEducationBody == false).Count()

                            </span>

                        </div>
                    </div>
                </div>

                <div class="col-12 m-2">

                    <a class="btn btn-primary btn-lg" asp-route-bokingId="@Model.TripBookings.FirstOrDefault().Id"  asp-controller="TripTransportSignatures" asp-action="Details">تامين وسلة نقل</a>

                    <a class="btn btn-success btn-lg" asp-route-bokingId="@Model.TripBookings.FirstOrDefault().Id" asp-controller="TripDelegates" asp-action="index">المنتدبين</a>

                </div>
            </div>
        </div>

    </div>

</li>

