<li>
    @model AActivity.Models.SchedulingTripDetail
    @{ 
       var NoMersal = Model.TripBookings.FirstOrDefault().Letters.FirstOrDefault();
       
    }
    <i class="fa fa-file-pdf bg-blue"></i>
    <div class="timeline-item">

        <h3 class="timeline-header">
            <i class="fas fa-file-pdf"></i>

          مرسال /  المخاطبات
        </h3>

        <div class="timeline-body">
            <div class="row">

                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning "><i class="fa fa-bus text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4 ">تامين النقل </span>
                            <span class="info-box-number font-weight-bolder ">
                                @if (NoMersal != null)
                                {
                                    if (NoMersal.NoMersal != null)
                                    {
                                        @Model.TripBookings.FirstOrDefault().Letters.FirstOrDefault().NoMersal

                                    }
                                    else
                                    { <em> مرسال</em>}
                                }
                                else
                                { <em> مرسال</em>}
                            </span>
                        </div>
                    </div>
                    @await Html.PartialAsync("Speeches/_Transport.cshtml", Model)
       


                </div>



                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-success "><i class="fa fa-bread-slice text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4"> التغذية </span>
                            <span class="info-box-number font-weight-bolder ">
                                96526
                            </span>

                        </div>
                    </div>
                  



                </div>





                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary "><i class="fa fa-users text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4 "> الإنتداب </span>
                            <span class="info-box-number font-weight-bolder ">
                                @Model.TripBookings.FirstOrDefault().TripDelegates.Where(t => t.IsFromEducationBody == false).Count()

                            </span>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger "><i class="fa fa-money-check text-white"></i></span>
                        <div class="info-box-content text-center">
                            <span class="info-box-text mb-4 ">السلفة  </span>
                            <span class="info-box-number font-weight-bolder ">
                                @Model.TripBookings.FirstOrDefault().TripDelegates.Where(t => t.IsFromEducationBody == false).Count()

                            </span>

                        </div>
                    </div>

                </div>

           
            </div>
        </div>

    </div>

</li>

